<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BankManagementSystem.Properties.Settings.BMSConnectionString"
            connectionString="Data Source=Rahul;Initial Catalog=BMS;Persist Security Info=True;User ID=sa;Password=wintellect"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>